*{
	margin: 0;
	padding: 0;
}

html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#game_MainWrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	visibility: hidden;
	position: absolute;
}

#game_MainMenu{
	position: absolute;
	visibility: hidden;
}

#game_GRID{
	width: 100%;
	height: 90%;
	display: flex;
	flex-wrap: wrap;
}

#game_UI{
	width: 100%;
	height: 10%;
	background-color: #CB6033FF;
}

#game_BOSS{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FF0000;
}